<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}Vojenská databáze{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% block style %}
        <style>
            .odstupBarva{
                margin-left: 1%;
                color: lightgrey;
            }
        </style>
    {% endblock %}
    {% load static %}
</head>
<body>
    <header class="p-4 text-center bg-dark">
        <h1 class="text-white text-uppercase display-3">Osobní vojenská databáze</h1>
    </header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav col-lg-10 ">
            <li class="nav-item btn-dark rounded odstupBarva">
            <a class="nav-link" href="{% url 'index' %}"style="color: lightgrey" >Home</a>
          </li>
            <div class="dropdown odstupBarva">
              <button class="btn btn-dark dropdown-toggle" style="color: lightgrey" type="button" data-toggle="dropdown">
                Vojenská databáze
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'soliders' %}">Databáze Vojáků</a>
                <a class="dropdown-item" href="{% url 'platoons' %}">Přehled Praporů</a>
              </div>
            </div>

            <div class="dropdown odstupBarva">
              <button class="btn btn-dark dropdown-toggle" style="color: lightgrey" type="button" data-toggle="dropdown">
                Technika
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'guns' %}">Zbraně</a>
                <a class="dropdown-item" href="{% url 'ammo' %}">Náboje</a>
              </div>
            </div>

            <li class="nav-item btn-dark rounded odstup">
            <a class="nav-link odstupBarva" href="{% url 'ranks' %}">Hodnosti</a>
          </li>

            <li class="nav-item btn-dark rounded odstup">
            <a class="nav-link odstupBarva" href="http://127.0.0.1:8000/admin/">Admin</a>
          </li>

        </ul>
      </div>
        <div class="col-lg-2">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
             <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Uživatel: {{ user.get_username }}</a></li>
             <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Odhlásit</a></li>
           {% else %}
             <li class="nav-item"><a href="{% url 'login'%}?=next{{request.path}} " class="nav-link">Přihlásit</a></li>
           {% endif %}
            </ul>
        </div>
    </nav>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
<footer class="container-fluid text-center">
    <hr>
    <p>&copy; 2021 - Michal Kurečka</p>
</footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>