{% extends "base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Smazání záznamu vojáka</h2>
    </div>
</div>
<div class="col-lg-6">
</div>
<div class="row mb-3 col-lg-6">
    <p>Po kliknutí na "Ano" bude vymazán záznam vojáka, chcete tuto akci provést?</p>
    <form action="" method="POST">
      {% csrf_token %}
        <input type="submit" value="Ano">
    </form>
    <a href="{% url 'soliders' %}" >Zrušit</a>
</div>
{% endblock %}
