{% extends "base.html" %}

{% block content %}
<div class="row mb-3 bg-secondary p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Ukázka používaných zbraní</h2>
    </div>
</div>
<div class="row  mb-3">
    {% for zbran in zbrane%}
    <div class="col-sm-12 mb-2" >
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-lg-5 col-12">
                    <h4 class="card-title">{{ zbran.name }}</h4>
                    <p class="card-text"><strong>Počet munice:</strong> {{ zbran.ammo }}</p>
                    <p class="card-text"><strong>Typ náboje:</strong> {{ zbran.ammo_type }}</p>
                    <p class="card-text"><strong>Kadence:</strong> {{ zbran.fire_rate }} ran/sekundu</p>
                    <p class="card-text"><strong>Aktivní dostřel:</strong> {{ zbran.active_range }} m</p>
                    <p class="card-text"><strong>Země původu:</strong> {{ zbran.country }}</p>
                </div>
                <div class="col-lg-6 col-12 text-center">
                    <img src="{{ zbran.image }}" width="60%" height="auto" alt="{{ zbran.name }}" >
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-10 mb-4">
        <strong>Celkový počet používaných zbraní:</strong> {{ zbrane_pocet }}
    </div>
    <div class="col-sm-10 ">
        <p>Počet používaných zbraní s municí typu 7.62 mm: <b>{{ naboje_762 }}</b></p>
    </div>
    <div class="col-sm-10 ">
        <p>Počet používaných zbraní s municí typu 5.56 mm: <b>{{ naboje_556 }}</b></p>
    </div>
    <div class="col-sm-10 ">
        <p>Počet používaných zbraní s municí typu 9 mm: <b>{{ naboje_9 }}</b></p>
    </div>

</div>

{% endblock %}