{% extends "base.html" %}

{% block content %}
<div class="row mb-3 bg-secondary p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Hlavní stránka</h2>
    </div>
</div>
<div class="col-sm-12 mb-2 text-center" >
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-lg-12 col-12">
                    <h4 class="card-title">Vítejte v mé malé vojenské databázi</h4>
                    <p class="card-text"> Dozvíte se zde jak novinky ze světa vojenských technologií.</p>
                     <p class="card-text">Tato aplikace slouží také jako databáze vojáků a vojenské techniky.</p>
                </div>
            </div>
        </div>
    </div>
<div class="col-sm-12 mb-2" >
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-lg-5 col-12">
                    <h4 class="card-title">Střet v Afghánistánu končí</h4>
                    <p class="card-text">Po měsících váhání je na stole konkrétní datum. Joe Biden rozhodl, že americké jednotky se k 11. září definitivně stáhnou z Afghánistánu. Výsledky dvacet let trvajícího angažmá jsou více než sporné: vláda v Kábulu je slabá a Tálibán na postupu.</p>
                    <p class="card-text">Je to nejdelší vojenské angažmá v dějinách Spojených států. Trvá už téměř dvacet let, dvakrát déle než válka ve Vietnamu. V Bílém domě se od jeho začátku vystřídali čtyři prezidenti, Spojené státy v Afghánistánu přišly o téměř 2 400 mužů a žen a utratily přibližně dva biliony dolarů.</p>
                    <p class="card-text">Biden jen o čtyři měsíce posunul deadline, který na základě loňské dohody s Tálibánem načrtl jeho předchůdce Donald Trump. Jenže ten loni v listopadu neobhájil mandát a tak se očekávalo, jak se k „nekonečné válce“ v středoasijské zemi postaví jeho nástupce. Současný prezident nakonec odmítl varování vojenských poradců, že Tálibán stále nepřerušil kontakty s al-Káidou. V Pentagonu podle listu The New York Times také stále převažoval názor, že Američané by měli zůstat do doby, než se afghánská armády postaví na vlastní nohy. Jenže její výcvik už trvá příliš dlouho a výsledky nejsou příliš povzbuzující.</p>
                    <p class="card-text">Pro Bidenovu administrativu zřejmě bylo rozhodující ujištění tajných služeb, že teroristický útok naplánovaný a vedený z území Afghánistánu bezprostředně nehrozí. Bushova válka proti teroru tak podle všeho definitivně končí, Washington se začíná plně soustředit na soupeření s Čínou a Ruskem.</p>
                </div>
                <div class="col-lg-7 col-12 text-center">
                    <div class="mb-4">
                        <img src="images/indeks/one.jpg" width="60%" height="auto" alt="afghanistan konfilkt" >
                    </div>
                    <div class="mb-4">
                        <img src="images/indeks/two.jpg" width="60%" height="auto" alt="afghanistan konfilkt" >
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="col-sm-12 mb-2" >
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-lg-5 col-12">
                    <h4 class="card-title">Izraelský proti-raketový systém Iron Dome</h4>
                    <p class="card-text">Železná kopule (též železná klenba; hebrejsky: כיפת ברזל, kipat barzel; anglicky: Iron Dome) je mobilní systém protivzdušné obrany vyvinutý izraelskou společností Rafael Advanced Defense Systems, který je určený ke zneškodnění raket krátkého doletu a minometných granátů. Důvodem pro vytvoření systému byly neustálé raketové útoky z Pásma Gazy na jižní Izrael a ochrana civilního obyvatelstva jak na jihu, tak na severu země.</p>
                    <p class="card-text">Během druhé libanonské války v roce 2006 vypálil Hizballáh zhruba 4000 raket[2] (drtivá většina z nich byly rakety krátkého doletu typu Kaťuša), které dopadly na území severního Izraele, včetně Haify, třetího největšího izraelského města. Při masivních raketových útocích zahynulo 44 izraelských civilistů[3] a na 250 tisíc Izraelců se muselo evakuovat a přemístit do jiných částí Izraele. Zároveň se odhaduje že téměř milion Izraelců bylo během konfliktu upoutáno k protiraketovým krytům.</p>
                    <p class="card-text">Systém je navržen tak, aby zneškodnil rakety krátkého doletu a 155mm dělostřelecké granáty o dostřelu 70 kilometrů. Železná kopule má být provozuschopná ve dne i v noci, za nepříznivých povětrnostních podmínek a je schopna reagovat na několik hrozeb současně.[8]</p>
                    <p class="card-text">Systém Železná kopule je kritizován za své příliš vysoké náklady. Odhadované náklady na jednu protiraketovou střelu Tamir se pohybují mezi 35 až 50 tisíci dolary,[7] zatímco cena hrubě vyráběných raket Kassám se nepohybuje výše než několik set dolarů za kus.[9] Na tuto kritiku reagovala společnost Rafael v tom smyslu, že otázka ceny je zbytečně zveličována, neboť radar systému bude schopen vypočítat, která z raket může potenciálně zasáhnout obydlenou oblast a zneškodní tak pouze takové rakety, které představují hrozbu.</p>
                </div>
                <div class="col-lg-7 col-12 text-center">
                    <div class="mb-4">
                        <img src="images/indeks/thre.jpg" width="60%" height="auto" alt="afghanistan konfilkt" >
                    </div>
                    <div class="mb-4">
                        <img src="images/indeks/five.jpg" width="60%" height="auto" alt="afghanistan konfilkt" >
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}