{% extends "base.html" %}

{% block content %}
<div class="row mb-3 bg-secondary p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Náboj typu 7,62 x 51mm NATO</h2>
    </div>
</div>
<div class="row mb-3">
    {% for naboj in naboje%}
    <div class="col-sm-12 mb-5" >
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-lg-3     col-12">
                    <h4 class="card-title">Náboj <strong>{{ naboj.name }}</strong></h4>
                    <p class="card-text"><strong>Váha náboje:</strong> {{ naboj.weight }} g</p>
                    <p class="card-text"><strong>Délka celého náboje:</strong> {{ naboj.bullet_lenght }} mm</p>
                    <p class="card-text"><strong>Průmer kulky:</strong> {{ naboj.bullet_diameter }} mm</p>
                    <p class="card-text"><strong>Průstřel brnění:</strong> {{ naboj.armor_penetration }} mm</p>
                    <p class="card-text"><strong>Průstřel tkáně:</strong> {{ naboj.default_penetration }} mm</p>
                    <p class="card-text"><strong>Hlavňová rychlost:</strong> {{ naboj.muzzle_speed  }} m/s </p>
                    <p class="card-text"><strong>Hlavňová energie:</strong> {{ naboj.muzzle_energy  }} J (při výstřelu)</p>
                </div>
                <div class="col-lg-4 col-12 text-center">
                    <img src="{{ naboj.image }}" width="80%" height="auto" alt="{{ naboj.name }}" >
                </div>
                <div class="col-lg-4 col-12 text-center">
                    <img src="{{ naboj.image_des }}" width="90%" height="auto" alt="{{ naboj.name }}" >
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body row align-items-center">
                <div class="col-lg-8 col-12">
                    <p class="card-text">
                        7,62×51 mm NATO (oficiální nomenklatura 7,62 NATO) je puškový náboj s bezokrajovou nábojnicí lahvovitého tvaru, který byl zaveden v 50. letech 20. století jako standardní puškový náboj zemí NATO. Populárním se stal také mimo armádu.
                        Někdy je mylně zaměňován s nábojem s podobným názvem - ruským 7,62 × 54 mm R, který je o něco delší a s okrajem. 7,62 × 51 mm NATO byl v amerických službách představen na konci 50. let v pušce M14 a kulometu M60. M14 byla v USA později nahrazena puškou M16 ráže 5,56 × 45 mm NATO, kterou přijala pěchota. Nicméně M14 a mnoho dalších zbraní, které používají náboj 7,62 × 51 mm NATO, zůstávají ve službě, včetně odstřelovacích pušek, středních a univerzálních kulometů jako např. M240 a různých pušek, které používají speciální jednotky. Náboj se používá kromě pěchotních zbraní, také u zbraní lafetovaných na vozidlech, letadlech i lodích.</p>
                    <p class="card-text">
                        Práce, jejichž výsledkem byl náboj 7,62×51 mm NATO, začaly hned po druhé světové válce, kdy začalo být jasné, že dlouhý náboj .30-06 (a ten byl zase odvozen z náboje .30-03), který byl 3 roky americkým standardem, bude obtížné použít v automatických a poloautomatických zbraních. Kratší náboj by umožnil, aby celý mechanismus zbraně byl menší a docházelo k lepšímu přebíjení. Toto oboje by mělo za následek zvýšení kadence. Kdysi patřil mezi slibné náboj .276 Pedersen. Ten byl ale v roce 1930 odmítnut s armádním doporučením, že jen náboj ráže .300 (7,62) splní požadavky na něj kladené.
                    </p>

                </div>
                <div class="col-lg-4 col-12">
                    <p>Tento typ náboje se používa například u:</p>
                    <p><strong>Mauser 98k</strong> - Nacistické Německo </p>
                    <p><strong>FN SCAR-H</strong> - Belgie</p>
                    <p><strong>FN FAL</strong> - Belgie</p>
                    <p><strong>M60</strong> - USA</p>
                    <p><strong>M14</strong> - USA</p>
                    <p><strong>AK 47</strong> - Rusko</p>
                </div>

            </div>
    </div>
        {% endfor %}
</div>


{% endblock %}